body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}
h2{
  margin-top: .1vh;
}

footer {
  text-align: right;
  color: midnightblue;
}
.left{
  float: left;
}
.right{
  float: left;
}
.card{
  justify-content: space-between;
    margin-top: 4.6vh;
    margin-left: 2.5vh;
    width: 81.6vh;
    display: inline-block;
}
.tile-image{
  margin-right:1.6vh;
  float: left;
  width:  38vh;
}
@media (max-width:600px){
  h1{
    font-size: 6vh;
  }
  .tile-image{
    float: none;
    width: 50vh;
  }
  .card{
    width: 40vh;
  }
  
}
